#calci{
  border: 1px solid rgb(223, 205, 205);
  border-radius: 5px;
  width: 200px; 
  margin-top: 15px;
}

#dispaly{
  margin: 10px;
  width: 85px;
  font-size: 25px;
}
.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button{
  width: 50px;
height: 50px;
margin: 3px;
}